[submodule "noSQLkantineAdmin"]
	path = noSQLkantineAdmin
	url = ./noSQLkantineAdmin
[submodule "noSQLkantineDisplay"]
	path = noSQLkantineDisplay
	url = ./noSQLkantineDisplay
[submodule "kantineAdmin"]
	path = kantineAdmin
	url = git@github.com:MSAugdal/noSQLkantineAdmin.git
[submodule "kantineDisplay"]
	path = kantineDisplay
	url = git@github.com:MSAugdal/noSQLkantineDisplay.git
