[submodule "kantineDisplay"]
	path = kantineDisplay
	url = ./kantineAdmin
[submodule "kantineAdmin"]
	path = kantineAdmin
	url = ./kantineAdmin
[submodule "noSQLkantineAdmin"]
	path = noSQLkantineAdmin
	url = ./noSQLkantineAdmin
[submodule "noSQLkantineDisplay"]
	path = noSQLkantineDisplay
	url = ./noSQLkantineDisplay
